.button {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.buttonBlue {
  background: blue;
  color: aliceblue;
  
  &:hover {
    background: navy;
  }
}